$white: #ffffff;

$gray-50: #f2f2f2;
$gray-100: #cfdce5;
$gray-300: #69788c;
$gray-600: #333333;

$purple-900: #5039a0;
$purple-600: #6732d1;
$purple-500: #7655e9;
$purple-400: #967ded;
$purple-100:  #EEE6FC;

